@model IEnumerable<Library.Data.Models.BorrowTransaction>

<h2>Borrow History</h2>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Borrowed Date</th>
            <th>Returned Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Book.Title</td>
                <td>@t.Book.Author.FullName</td>
                <td>@t.BorrowedDate.ToShortDateString()</td>
                <td>@(t.ReturnedDate?.ToShortDateString() ?? "Not Returned")</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="/Borrowing/Borrow">Borrow a Book</a>
<a class="btn btn-success" href="/Borrowing/Return">Return a Book</a>
